<div class="row">
    <div class="col-md-12">
        <strong>Web API Call</strong>
    </div>
</div>

<div class="row call-webapi">
    <div class="col-md-2">
        <button class="btn btn-sm btn-info">Call</button>
    </div>
    <div class="col-md-10">
        <div class="result-data">Result</div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <strong>Azure Function Call</strong>
    </div>
</div>

<div class="row call-azurefunction">
    <div class="col-md-2">
        <button class="btn btn-sm btn-info">Call</button>
    </div>
    <div class="col-md-10">
        <div class="result-data">Result</div>
    </div>
</div>
